configuration {
    show-icons: true;
    icon-theme: "Papirus-Nord";
    font: "JetBrains Mono 10";
}
@theme "~/.dotfiles/.config/rofi/themes/nord.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
