configuration{
    modi: "run,drun,window";
    font: "JetBrains Mono 10";
    show-icons: true;
}

@theme "/usr/share/rofi/themes/catppuccin-lavrent-mocha.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
